<table class="table">
  <thead>
    <tr>
      <th scope="col">Icono</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido Paterno</th>
      <th scope="col">Apellido Materno</th>
      <th scope="col">Sexo</th>
      <th scope="col">Edad</th>
      <th scope="col">Correo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><div *ngFor="let cliente of clientes"><i class="fa {{cliente.icono}}"></i></div></td>
      <td><div *ngFor="let cliente of clientes">{{cliente.nombre}}</div></td>
    
    
      <td><div *ngFor="let cliente of clientes">{{cliente.app}}</div></td>
    
    
      <td><div *ngFor="let cliente of clientes">{{cliente.apm}}</div></td>
    
    
      <td><div *ngFor="let cliente of clientes">{{cliente.sexo}}</div></td>
    
    
      <td><div *ngFor="let cliente of clientes">{{cliente.edad}}</div></td>
    
    
      <td><div *ngFor="let cliente of clientes">{{cliente.correo}}</div></td>
    </tr>
  </tbody>
</table>
